
body{
  background-color: pink;
  
}

@media only screen and (max-width: 600px){
  body{
background-color: blue;
  }
}
h1{
  color: blueviolet;
  text-align: left;
  text-shadow: 8px 8px chartreuse;
  text-indent: 20px;
  text-align: center;
}
p{
  border: solid 5px black;
  text-align: center;
  background-color: chocolate;
}
h2{
  text-align: center;
  text-overflow: inherit;
  border: solid black 2px;
  
}
h3{
  border: solid 5px black;
  border-radius: solid 8px black;
  text-align: center;
  border-style: groove;
}
h4{
  background-color: black;
  padding: 20px;
  border: solid 5px red;
  margin: auto;
  color: aqua;
  text-shadow: 8px 5px 5px blue;
  text-align: center;
}
body 
{
  background-image: url('r1.jpg');
  background-size: 500px 700px ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: solid 20px violet;
  padding: 20px;
}
 img{
   width: 100%;
   height: 200%;
   background-size: contain;
   background: fixed;
 }























